<br />
<br />
<%= form_for @experience do |f|%>
  <%= f.hidden_field :product_id, :value => params[:product_id] %>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.text_area :description, placeholder: "Description" %>
  <%= f.text_area :tip, placeholder: "Tip" %>
  <%= f.text_field :name, placeholder: "Your Name" %>
  <%= f.submit "Add Experience"%>
<% end %>
<br />
<br />
<div>
  <%= link_to "Cancel", categories_path(@experience) %>
</div>
