<h2>Products in <%= @category.title %> </h2>
<h4> <%= @category.description %> </h4>
<% @category.products.each do |product| %>
  <ul>
    <li>
      <%= link_to product.title, product_path(product) %>
      <br />
      <%= product.description %>
      <br />
      <%= link_to product.website, product.website %>
      <br />
      <%= "How to contact:" %>
      <%= product.contact %>
    </li>
  </ul>
<% end %>

<div>
  <%= link_to "All categories", categories_path %>
</div>
