<div class="one-category-page">
  <div class="category-overview">
    <h2 id="category-title"><%= @category.title %></h2>
    <h3 id="category-description"> <%= @category.description %> </h3>
    <div id="new-product-button">
      <%= link_to "Add New Product", new_product_path(:category_id => @category.id) %>
    </div>
  </div>
  <div class="product-intro-title">Popular this Month</div>
  <div class="flex-container">
    <% @category.products.each do |product| %>
      <div class="product-list">
            <div id="product-title">
              <%= link_to product.title, product_path(product)%>
            </div>
            <br />
            <div id="product-description">
              <%= product.description %>
            </div>
            <br />
            <div id="product-website">
              <%= link_to product.website, product.website %>
            </div>
            <div id="product-contact">
              <%= "Contact By:" %>
              <%= product.contact %>
            </div>
      </div>
    <% end %>
  </div>
</div>
