<h2><%= @product.title %> </h2>
<h2><%= @product.description %> </h2>

<%= link_to "Edit Product", edit_product_path(@product) %>

<%= form_for @product, html: {method: "delete"} do |f|%>
  <%= f.submit "Delete #{@product.title}?"%>
<% end %>

<h3>Experiences with <%= @product.title %></h3>
<% @product.experiences.each do |experience| %>
  <ul>
    <li>
      <%= experience.title %>
      <br />
      <%= experience.description %>
      <br />
      <%= experience.tip %>
      <br />
      <%= "My name:" %>
      <%= experience.name %>
    </li>
  </ul>
<% end %>

<div>
  <%= link_to "Add New Experience", new_experience_path(:product_id => @product.id) %>
</div>

<div>
  <%= link_to "Back to products", category_path(:id => @product.category_id) %>
</div>
